@model IEnumerable<Borrower>
@{
    ViewBag.Title = "List of Borrowers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Borrowers</h2>


@if (!Model.Any())
{
    <p>No borrower registered in your database.</p>
}
else
{
    <table id="borrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>National ID</th>
                <th>Date of Birth</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrower in Model)
            {
                <tr>
                    <td>@borrower.Name</td>
                    <td>@borrower.Surname</td>
                    <td>@borrower.NationalId</td>
                    <td>@borrower.BirthDate.ToShortDateString()</td>
                    <td>@borrower.Phone</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.AntiForgeryToken()
}


@section scripts
{
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#borrowers").DataTable();
        });
    </script>
}