@model IEnumerable<Book>
@{
    ViewData["Title"] = "List of Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Books</h2>
<br />
<p> <a type="button" class="btn btn-primary" asp-action="New" asp-controller="Books">Add New Book</a></p>
@if (!Model.Any())
{
    <p>No book registered in the database.</p>
}
else
{
    <table id="books" class="table table-sm table-hover table-striped order-column cell-border">
        <thead>
            <tr>
                <th rowspan="2">Title</th>
                <th rowspan="2">Author</th>
                <th rowspan="2">Publisher</th>
                <th rowspan="2">Year</th>
                <th rowspan="2">Pages</th>
                <th colspan="2">Copies</th>
                <th rowspan="2">Category</th>
                <th rowspan="2">Image</th>
                <th rowspan="2">Modify</th>
            </tr>
            <tr>
                <th>Total</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody class="table-striped">

        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.YearPublished</td>
                <td>@book.Pages</td>
                <td>@book.CopiesOwned</td>
                <td>@book.CopiesAvailable</td>
                <td>
                    @if (book.CategoryId == null)
                    {
                        <p>Without Category</p>
                    }
                    else
                    {
                        @book.Category.Name
                    }
                </td>
                <td>
                    @if (book.ImageName != null)
                    {
                        <img src="@("~/image/" + book.ImageName)" asp-append-version="true" height="50"/>
                    }
                    else
                    {
                        <p>No Image Uploaded</p>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@book.Id">Details</a> /
                    <a asp-action="Edit" asp-controller="Books" asp-route-id="@book.Id">Edit</a> /
                    <a asp-action="Delete" asp-controller="Books" asp-route-id="@book.Id" onclick="javascript:return confirm('Are you sure you want to delete this Book?');">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@section scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables/AutoFill-2.3.7/js/dataTables.autoFill.js"></script>
    <script>
        $(document).ready(function () {
            $("#books").DataTable({
                autoFill: true,
                "autoWidth": true
            });
        });
    </script>
}

