@model IEnumerable<Book>
@{
    ViewBag.Title = "List of Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Books</h2>


@if (!Model.Any())
{
    <p>No book is registered in your database.</p>
}
else
{
    <table id="books" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Year Published</th>
                <th>Date Added To The Library</th>
                <th>Number of Pages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publisher</td>
                    <td>@book.YearPublished</td>
                    <td>@book.DateAddedToLibrary.ToShortDateString()</td>
                    <td>@book.Page</td>
                </tr>
            }
        </tbody>
    </table>

}


@section scripts
{
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#books").DataTable();
        });
    </script>
}