@model IEnumerable<Lend>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lend List</h2>

<br />

<p>
    <a type="button" class="btn btn-primary" asp-action="New" asp-controller="Lends">Add New Lend</a>
</p>
@if (!Model.Any())
{
    <p>No book lent from the Library.</p>
}
else
{
    <table id="lends" class="table table-sm table-hover table-striped order-column cell-border">
        <thead>
        <tr>
            <th>No</th>
            <th>Borrower</th>
            <th>Book(s)</th>
            <th>Date Lent</th>
            <th>Du To</th>
            <th>Is Returned</th>
            <th>Return Date</th>
            <th>Overdue Day(s)</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var lend in Model)
            {
            <tr>
                <td>@lend.Id</td>
                <td>@lend.Borrower.FullName</td>
                <td>
                    @foreach (var item in lend.BookLends)
                    {
                        @item.Book.Title;
                        <br>
                    }
                </td>
                <td>@lend.LendDate.ToShortDateString()</td>
                <td>@lend.DueDate.ToShortDateString()</td>
                <td>@(lend.IsReturned ? "Yes" : "No") </td>
                <td>@(lend.IsReturned ? lend.ReturnDate.Value.ToShortDateString() : "Still on Loan")</td>
                <td>
                    @{
                        if (!lend.IsReturned && (DateTime.Today > lend.DueDate))
                        {
                            @:<p> @((DateTime.Today - lend.DueDate).Days.ToString()) </p>
                        }
                        else if (lend.IsReturned && (lend.ReturnDate.Value.Date > lend.DueDate.Date))
                        {
                            @:<p> @((lend.ReturnDate - lend.DueDate).Value.Days.ToString()) </p>
                        }
                        else
                        {
                            <p>-</p>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Lends" asp-route-id="@lend.Id">Details</a> /
                    <a asp-action="Edit" asp-controller="Lends" asp-route-id="@lend.Id">Edit</a> /
                    <a asp-action="Delete" asp-controller="Lends" asp-route-id="@lend.Id" onclick="javascript:return confirm('Are you sure you want to delete this Lend?');">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}


@section scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables/AutoFill-2.3.7/js/dataTables.autoFill.js"></script>
    <script>
        $(document).ready(function () {
            $("#lends").DataTable({
                autoFill: true,
                "autoWidth": true
            });
        });
    </script>
}